@import "../../styles/variables";
@import "../../styles/rwd";

.roadmap-comp {
  background: url("../../assets/imgs/bgRoadmap.webp") no-repeat center;
  background-size: cover;
  padding: 20px 0;
  min-height: 100vh;

  &-content {
    min-height: calc(100vh - 102.8px);
  }

  &-content-items {
    margin-top: $space-primary !important;

    .roadmap-subtitle {
      color: #ffffff;
      font-family: TTOctoSquaresExp, sans-serif;
    }

    img {
      margin-top: 12px;
      width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: 100%;
    }
  }
}