@import "../../styles/variables";
@import "../../styles/rwd";

.roadmap-comp {
  padding: 20px 0;
  min-height: 100vh;
  position: relative;

  &-container {
    @include mobile {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }

  &-content {
    min-height: calc(100vh - 102.8px);
  }

  &-title {
    z-index: 1;
  }

  &-content-items {
    margin-top: $space-primary !important;

    .roadmap-subtitle {
      z-index: 1;
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;

      @include mobile {
        padding-right: 0 !important;
        padding-left: 0 !important;
        font-size: .8rem;
      }
    }

    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: 100%;
    }
  }
}

.roadmap-comp-content-items .roadmap-item-detail {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 24px;
  position: relative;

  .roadmap-start, .roadmap-10, .roadmap-20, .roadmap-30, .roadmap-40, .roadmap-50 {
    position: absolute;
    width: 200px;
    cursor: pointer;

    .title, .subtitle {
      color: #F7941D;
    }

    .title {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }

    .subtitle {
      font-family: 'Montserrat', sans-serif;
      font-size: .9rem;
      line-height: 1rem;
      margin-top: 10px;
    }

    @include smallScreen{
      max-width: 60px !important;
    }

    @include mobile {
      max-width: 65px;

      .title {
        font-size: .3rem;
      }

      .subtitle {
        font-size: .3rem;
        line-height: unset;
      }
    }

    @include tablet {
      max-width: 130px;

      .title {
        font-size: .6rem;
      }

      .subtitle {
        font-size: .5rem;
        line-height: unset;
      }
    }
  }

  .roadmap-start {
    bottom: 5%;
    left: 5%;

    &:hover .zoom-out {
      display: block;
      margin-bottom: 12px;
      bottom: 100%;
    }
  }

  .roadmap-10 {
    top: 5%;
    left: 15.5%;

    &:hover .zoom-out {
      display: block;
      margin-top: 12px;
      top: 100%;
    }
  }

  .roadmap-20 {
    bottom: 5%;
    left: 34.5%;

    &:hover .zoom-out {
      display: block;
      margin-bottom: 12px;
      position: absolute;
      bottom: 100%;

      @include mobile {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .roadmap-30 {
    top: 5%;
    left: 53%;

    &:hover .zoom-out {
      display: block;
      margin-top: 12px;
      top: 100%;

      @include mobile {
        right: 50%;
        transform: translateX(-50%);
        left: 5%;
      }
    }
  }

  .roadmap-40 {
    bottom: 5%;
    left: 71%;

    &:hover .zoom-out {
      display: block;
      margin-bottom: 12px;
      bottom: 100%;

      @include mobile {
        right: 0;
      }

      @include tablet {
        right: 10%;
      }
    }
  }

  .roadmap-50 {
    top: 50%;
    left: 83%;

    &:hover .zoom-out {
      display: block;
      margin-bottom: 12px;
      bottom: 100%;
      right: 10%;
    }
  }

  img {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.zoom-out {
  display: none;
  position: absolute;
  width: 300px;
  text-align: justify;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;

  .title {
    font-size: 1.2rem;
    margin-bottom: 12px;
    font-weight: bold;

    @include mobile {
      font-size: 1rem !important;
    }
  }

  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 12px;
    line-height: unset;

    @include mobile {
      font-size: .7rem !important;
    }

    @include tablet {
      font-size: .7rem !important;
    }
  }

  .desc {
    color: #000000;
    font-size: .8rem;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
  }
}
