@import "../../styles/variables";
@import "../../styles/rwd";

.homepage-comp {
  min-height: 100vh;
  padding: 20px 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;

  &-content {
    min-height: calc(100vh - 102.8px);
    @include mobile {
      min-height: calc(80vh - 102.8px);
    }
  }

  &-container {
    @include mobile {
      max-width: unset !important;
    }
  }

  @include mobile {
    display: unset !important;
    min-height: 80vh;
    &-container {
      padding: 20px 0 !important;
    }
  }
}

.homepage-comp-content {
  width: 100%;

  .comp-content {
    //&-title {
    //  padding: 0 24px;
    //
    //  h1 {
    //    color: #ffffff;
    //    font-family: TTOctoSquaresExp, sans-serif;
    //    text-align: left;
    //    font-size: 1.5rem;
    //
    //    @include mobile {
    //      text-align: center;
    //    }
    //  }
    //
    //  .connect-btn {
    //    margin-top: $space-primary;
    //    text-transform: uppercase;
    //  }
    //
    //  @include mobile {
    //    text-align: center;
    //  }
    //}

    //&-img {
    //  display: grid;
    //  grid-template-columns: repeat(2, 1fr);
    //  grid-gap: 30px;
    //
    //  @include mobile {
    //    grid-gap: 15px;
    //  }
    //
    //  .img-left, .item-right {
    //    margin-top: 20px;
    //
    //    @include mobile {
    //      margin-top: unset;
    //    }
    //  }
    //
    //  .img-item {
    //    width: 100%;
    //    border-radius: 10px;
    //
    //    &:nth-child(odd) {
    //      margin-bottom: 30px;
    //
    //      @include mobile {
    //        margin-bottom: 15px;
    //      }
    //    }
    //  }
    //
    //  img {
    //    width: 100%;
    //  }
    //}

    &-wallet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;

      @include mobile {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .img-container {
        width: 100%;

        img {
          width: 100%;
          @include mobile {
            width: 80%;
          }
          @include tablet {
            width: 80%;
          }
        }
      }

      //.connect-btn {
      //  border: none;
      //  color: #000000;
      //
      //  &:after {
      //    color: #ffffff;
      //    background-color: rgba(0, 255, 255, .5);
      //  }
      //}

      .content-container .homepage-title {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        @include mobile {
          font-size: 2rem;
          padding: 0 5px;
          margin-top: 24px;
        }
      }
    }
  }
}

.btn-neon {
  position: relative;
  display: inline-block;
  padding: 15px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    color: #ffffff;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
  }


  span {
    position: absolute;
    display: block;
  }


  span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
  }

  &:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }

  span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
  }

  &:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }

  span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
  }

  &:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }

  span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
  }

  &:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }
}

.homepage-comp-countdown {
  margin-top: 24px;

  .countdown-title {
    font-size: 40px;
    color: #fff;
    margin-bottom: 12px;
  }

  .countdown-container {
    display: grid;
    grid-template-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-gap: 10px;
    width: 80%;

    .days, .countdown-space, .hours, .minutes, .seconds {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .countdown-label {
      color: #ffffff;
      font-size: 20px;
      @include smallScreen {
        font-size: 10px;
      }
      @include mobile {
        font-size: 16px;
      }
      @include wide-desktop {
        font-size: 25px;
      }
    }

    .countdown-display {
      color: #ffffff;
      font-size: 40px;
      margin-top: 12px;
      @include smallScreen {
        font-size: 25px;
      }
      @include mobile {
        font-size: 35px;
      }
      @include wide-desktop {
        font-size: 60px;
      }
    }

    .countdown-space {
      color: #ffffff;
      font-weight: bold;
      font-size: 30px;
      justify-content: flex-end;

      .space {
        height: 40px;
      }

      @include mobile {
        font-size: 15px;
      }
    }

    @include smallScreen {
      grid-gap: unset;
    }
    @include mobile {
      grid-gap: unset;
      width: 100%;
      grid-template-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
      padding: 0 10px;
    }
  }
}
