@font-face {
  font-family: TTOctoSquaresLight;
  src: url(TTOctosquaresExp-Light.woff) format("woff");
}

@font-face {
  font-family: TTOctoSquaresMedium;
  src: url(TTOctosquaresExp-Medium.woff) format("woff");
}

@font-face {
  font-family: TTOctoSquaresRegular;
  src: url(TTOctosquaresExp-Regular.woff) format("woff");
}

@font-face {
  font-family: TTOctoSquaresExp;
  src: url(TTOctosquaresExp-Black.woff) format("woff");
}

@font-face {
  font-family: TTOctoSquaresBoldIt;
  src: url(TTOctosquaresExp-BoldIt.woff) format("woff");
}

@font-face {
  font-family: MuliBold;
  src: url(Muli-Bold.woff) format("woff");
}

$space-primary: 24px;