@import "../../styles/variables";
@import "../../styles/rwd";

.title-comp {
  width: 960px !important;
  text-align: center;

  @include mobile {
    width: 100% !important;
  }

  @include tablet {
    width: 100% !important;
  }

  .main-title, .main-subtitle {
    color: #ffffff;
  }

  .main-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;

    @include mobile {
      font-size: 1.8rem;
    }
  }

  .main-subtitle {
    margin-top: $space-primary;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    @include mobile {
      font-size: 1.1rem;
    }
  }
}