@import "../../styles/variables";
@import "../../styles/rwd";

.team-comp {
  background-color: rgb(0, 1, 35);
  padding: 20px 0;
  min-height: 100vh;

  &-content-items {
    margin-top: $space-primary;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @include mobile {
      width: 100%;
      grid-template-columns: 1fr;
    }

    @include tablet {
      width: 100%;
    }
  }
}

.team-comp-content-items .content-item {
  .item-header {
    .avatar {
      padding: 10px;

      img {
        border-radius: 10px;
        height: 100%;
        width: 100%;
      }
    }
  }

  .item-content {
    margin-top: 12px;
    text-align: center;
    padding: 0 10px;

    h6, p {
      margin-top: 12px;
    }

    h6 {
      color: #ff0f7b;
      font-family: TTOctoSquaresExp, sans-serif;
    }

    p {
      font-family: TTOctoSquaresLight, sans-serif;
      color: #ffffff;
    }
  }
}