@import "../../styles/rwd";

.about-comp {
  position: relative;
  background: url("../../assets/imgs/bgAbout.jpeg") no-repeat center;
  background-size: cover;
  min-height: 100vh;

  .blur-div {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
  }

  &-container {
    z-index: 1;
  }

  &-content {
    min-height: calc(100vh - 102.8px);
  }
}

.about-comp-left-side .left-side-container {
  padding: 20px;

  img {
    width: 100%;
    border-radius: 20px;
  }
}

.about-comp-right-side {
  @include mobile {
    margin-top: 24px !important;
  }
}

.about-comp-right-side .right-side-container {
  padding: 20px 0 !important;
  z-index: 1;

  @include mobile {
    padding: 0;
  }

  @include tablet {
    padding: 0;
  }

  .about-title {
    text-align: center;

    &-item {
      color: #ff0f7b;
      font-size: 2rem;
      font-family: TTOctoSquaresMedium, sans-serif;
    }
  }

  .about-subtitle {
    margin-top: 24px;

    &-item {
      line-height: 2rem;
      font-size: 1.2rem;
      text-align: justify;
      color: #ffffff;
      font-family: TTOctoSquaresRegular, sans-serif;

      b {
        cursor: pointer;
        font-weight: bold;
        color: #3168d8;
      }
    }
  }
}

.ant-modal-header {
  .ant-modal-title {
    font-family: TTOctoSquaresMedium, sans-serif;
  }
}

.ant-modal-body {
  max-height: 400px;
  overflow: scroll;

  p:not(:first-child) {
    margin-top: 12px;
  }
}