@import "../../styles/rwd";

.about-comp {
  position: relative;
  min-height: 100vh;
  padding: 20px 0 !important;

  .blur-div {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
  }

  &-container {
    z-index: 1;
  }

  &-content {
    min-height: calc(100vh - 102.8px);
  }
}

.about-comp-content {
  .about-us-content {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    .about-us-img-item {
      img {
        width: 70%;
        border-radius: 20px;
      }
    }

    .about-us-text-item {
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      text-align: justify;
      line-height: 20px;
      display: block;
      position: relative;

      &:first-letter {
        font-size: 2rem;
      }
    }

    .about-include-img {
      .about-img {
        margin-top: 12px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;

        img {
          width: 100%;
          border-radius: 10px;
        }
      }
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.ant-modal-header {
  .ant-modal-title {
    font-family: 'Montserrat', sans-serif;
  }
}

.ant-modal-body {
  max-height: 400px;
  overflow: scroll;

  p:not(:first-child) {
    margin-top: 12px;
  }
}