@import "../../styles/variables";
@import "../../styles/rwd";

.story-comp {
  padding: 20px 0;
  min-height: 100vh;

  &-container {
    @include mobile {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }

  &-content {
    min-height: calc(100vh - 102.8px);
  }
}

.story-comp-content .story-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  @include tablet {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .story-img-item img {
    width: 70%;
    border-radius: 15px;
  }

  .story-text-item {
    display: inline-block;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
    text-align: justify;
    text-indent: 1rem;

    &:first-letter {
      font-size: 2rem;
      font-weight: bold;
    }

    .margin-scope {
      @include mobile {
        margin-top: 10px;
      }
    }
  }

  .last-content {
    .contact {
      margin-top: 30px;

      @include mobile {
        margin-top: 24px;
        flex-direction: column !important;
      }

      h6 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        color: #ffffff;
        font-weight: bold;
        text-align: center;

        @include mobile {
          font-size: 1.5rem;
        }
      }

      .contact-social {
        width: 60%;
        margin-top: $space-primary;

        a {
          text-decoration: none;
          color: #ffffff;
          font-size: 2rem;
        }
      }

      .img {
        img {
          width: 100%;
        }

        @include mobile {
          margin-top: 24px;
        }
      }
    }
  }
}